
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}


header {
    background-image: url("https://cdn.pixabay.com/photo/2019/02/09/11/03/globe-3984876_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 15px;
}

.abrirMenu, .cerrarMenu{
    display: none;
}


 .headerItems {
    display: flex;
    align-items: center;
    gap: 20px;
  
 }
 
header img {
    border-radius: 50%;
    width: 100px;
}
.barraNav {
    
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.titulo {
    font-size: 30px;
    color:white;
    text-shadow: 3px 3px 0 black;
}
.barraNav ul {
    display: flex;
    text-align: center;
    gap: 10px;
   
}
.barraNav ul li {
    
    list-style: none;
    align-items: center;
}
.barraNav ul li a {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    /* font-size: 17px; */
    color:white;
    margin-left: 10px;

}

.barraNav ul li a:hover {
    color: yellowgreen;
}


.menuRecursos {
    font-family: 'Jura', sans-serif;
    font-size: 17px;
    color: white;
   --transform: rotate(0deg);
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0); 
    align-items: center;
    justify-content: center;
  
 }

     .menuRecursos:hover { 
         --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
         --transform: rotate(90deg); 
         color: yellowgreen;

 } 
 .menuDesplegable {
    font-family: 'Jura', sans-serif;
    margin-right: 50px;
    margin-top: 10px;
    align-items: last baseline;
    flex-direction: column;
    clip-path: var(--clip);
    transition: clip-path 0.3s;
    background-color:rgba(0, 0, 0, 0.4);
    padding: 10px;
}  

.menuArrow {
    
    margin-top: 5px;
    width: 20px;
    transform: var(--transform);
    transition: transform 0.3s ;
  
    margin-left: 3px;
    margin-right: 2px;
    
}
      
.menuPrincipal {
    font-family: 'Jura', sans-serif;
    margin-top: 10px;
    gap: 20px;
    font-size: 17px;
    

}

 .menuInside {
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    margin-left: 10px;
 }
    /* --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    /* --clip: polygon(0 0, 100% 0, 100% 0, 0 0); */



.lista {
    display: flex;
    gap: 10px;
   
}

.contenedor {
    background-color: bisque;
    display: flex; 
    border-radius: 10px;
}

.contenedor div{
    flex-direction: column;
    flex: 75%;
}
aside {
    background-color: rgb(171, 228, 230);
    flex: 25%;
    padding: 20px;
    border-radius: 10px;
}

    .contenedor video {
    width: 80%;
    height: auto;
   
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
    section {
    background-color: rgb(255, 216, 203);
    flex: 75%;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

    .imgTitulo {
      
      justify-content: center;
      align-items: center;
      
    }

    .imgPrincipal {
      
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
       
    }

    .imgSecundario {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .tituloPrincipal {
        margin-top: 20px;
        margin-left: 20px;
        color: rgb(0, 0, 70);
    }

    .parrafoPrincipal {
        margin-top: 15px;
        font-size: 18px;
    }
    .parrafoVersiculo {
        font-size: 18px;
    }
    .parrafoFinal {
        font-size: 18px;
    }

    footer {
        
        display: flex;
        justify-content: center;
    padding: 20px;
    background-color: rgb(0, 0, 50);
    border-radius: 5px;
    color: white;
}

    .contenedorParrafo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }
    .parra1 , .parra2 , .parra3  {
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    

}
.parrafo1 {
    font-size: 21px;
    justify-content: center;
    text-align: center;
}
      .parrafo2{
        display: flex;
        gap: 100px;
      }
    .parrafo2 a {
       gap: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
    .imgRecursos {
     width: 80%; 
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 15px;
     
    }
    
   
    .contenedorHistorias {
        width: 100%; 
        display: flex;
        margin: 0;
    }
        
       /* .videoHistorias { 
            width: 80%;
            
            height: auto;  }

         
    */
    .grid-contenedor {
          gap: 5px;
          width: 100%; 
      
          display: flex;
    
          flex-wrap: wrap;
          justify-content: space-around;
          margin: auto;  
          padding: 5px;
         /* background-color: lightgreen;  */
          border: 1px solid black;
        /* margin-left: 1px; */
        /* margin-left: 0; */
         /* margin-right: auto; */
         
    }

    .caja {
        font-family: 'Miltonian Tattoo', cursive;
        color: rgb(0, 0, 100);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 11px;
        width: 250px;
        height: 210px;
        gap: 5px;
        margin-top: 10px;
        border: 1px solid black;
        background-color: gainsboro;
        border-radius: 10px;
        text-align: center;

    }

    .cajaPeliculas {
        font-family: 'Miltonian Tattoo', cursive;
        color: rgb(0, 0, 100);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        width: 220px;
        height: 250px;
        gap: 5px;
        margin-top: 5px;
        border: 1px solid black;
        background-color: gainsboro;
        border-radius: 10px;
        text-align: center;
    }

  

    .cajaVideos {
        font-family: 'Miltonian Tattoo', cursive;
        color: rgb(0, 0, 100);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        width: 250px;
        height: 200px;
        gap: 5px;
        margin-top: 10px;
        border: 1px solid black;
        background-color: gainsboro;
        border-radius: 10px;
        text-align: center;

    }

        .asideHistorias{
            background-color: cadetblue;
            flex: 25%;
            padding: 20px;
            border-radius: 10px;

            
        }
       
        
        .videoHistorias {
           
             display: block; 
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            height: auto; 
        
        }

      .uno , .dos, .tres, .cuatro {
         
            margin-left: 2px;
            margin-bottom: 1px;
            /* flex-direction: column; */
            width: 95%;
            height: 100%;
            object-fit: cover;
           
        }
                p {
                    flex-direction: column;
                    margin-top: 5px;
                }
                .dosPeliculas,  .tresPeliculas , .cuatroPeliculas {
                    margin-left: 2px;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    /* flex-direction: column; */
                    width: 95%;
                    height: 95%;
                    object-fit: cover;

                }

                .imgConstruccion {
                    display: flex;
                  flex-direction: column;
                  width: 500px;
                  
                }

                    /* seccion slider en acerca de */

                    .contenedor-Slider {
                        display: flex;
                        align-items: center;
                      
                        gap: 20px;
                     
                       max-width: 600px;
                        padding: 0px 30px;
                    }

                    .slider-Izquierdo, .slider-Derecho {
                        width: 10%;
                    }

                    .slider-Izquierdo img , .slider-Derecho img {
                        width: 100%
                        
                    }

                    .slider-Screen  {
                        width: 90%;
                    }
                    .slider-Screen img {
                        width: 100%;
                    }
                        


    @media screen and  (min-width: 260px) and ( max-width:528px ){
    
        .grid-contenedor{

    flex-direction: column;
    
    justify-content: center;
}

    .imgConstruccion {
        
        width: 280px;
    }
    }

    @media screen and  (max-width:850px )
    
{

        body {
            margin: 0;
           

        }

      .barraNav ul , .contenedor , .lista {
        font-family: 'Jura', sans-serif;
      
        flex-direction: column;
        margin-left: 0;
        /* margin-right: 0; */
        margin-right: 0;      
    }
   
             .abrirMenu  {
              display: block; 
              font-size: 1.1rem;
              cursor: pointer;
              color: white;
              background-color:rgba(0, 0, 0, 0) ;
               border: 0;
                         }

             .cerrarMenu {
                display: block;
                font-size: 3px;
                cursor:pointer;
                color: white;
                background-color: rgba(0, 0, 0, 0);
                border: 0;

                     }
                       
    .titulo {
        font-size: 22px;
    }
  
    header img {
        width: 50px;
    }
    header {
        width: 100%;
        /* gap: 10px; */
    }
    .headerItems{
        gap: 5px;
    }
    .barraNav  {
        /* opacity: 0; */
        /* visibility: hidden; */
      
        font-family: 'Jura', sans-serif;
       color: white;
        position: fixed;
        right: 0;
        /* left: 0; */
        top: 76.16px;
        background-color: #182229;
        border-radius: 5px;
        bottom: 0;
        padding: 10px;
        width: 50%;
       
      
        /* transition: visibility 0.3s; */
        left: 100%;
        transition: left 0.3s;
        /* height: calc(100%-95.16px); */
        height: calc(100%-76.16px);
        overflow-y: auto;
    }
    .barraNav.visible {
        /* opacity:1; */
        /* visibility: visible; */
        left: 50%;

    }

    .body.no-scroll {

        overflow: hidden;

    }

      .menuDesplegable { 
        /* font-size: 14px; */
         align-items: flex-start;
         /* margin-right: 15px; */
         justify-content: flex-start;
         background-color: rgba(0, 0, 0, 0);
     } 
             .menuPrincipal {
                font-family: 'Jura', sans-serif;
                font-size: 15px;
            } 
        .menuInside {
            font-family: 'Jura', sans-serif;
            font-size: 14px;
            /* margin-right: 0;  */
            margin-left: 0;
          
        }

        .menuRecursos  {
          /* margin-left: 0; */
            font-size: 15px;
            justify-content: flex-start;
            font-family: 'Jura', sans-serif;
            /* margin-right: px; */
        }

    .lista {
        font-family: 'Jura', sans-serif;
        padding: 5px;
        align-items: flex-start;
        justify-content: left;
    }

   
    .barraNav ul li a {

        /* font-size: 15px; */
        margin-left: auto;
        font-family: 'Jura', sans-serif;
        color: white;
    }

    .menuPrincipal , .menuRecursos {
        font-family: 'Jura', sans-serif;
        color: white;
    }
       
    .parrafoAside  {
        justify-content: center;
        margin-top: 10px;
    }
        .imgPrincipal {
            width: 80%;
            display: block;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 15px;
        }

        .imgSecundario {
            width: 80%;
            display: block;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 15px;
        }
        .imgTitulo  {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 

        .tituloPrincipal  {
            margin: 10px ;
            margin-top: 20px;
            color:rgb(0, 0, 83); 

        }

        .parrafo1 {
            font-size: 17px;
        }


        .parrafo2 {
            /* flex-direction: column; */
            /* gap: 5px; */
            justify-content: space-around;
          
        }

        .parrafo2 div a .parra1, .parrafo2 div a .parra2, .parrafo2 div a .parra3 {
            font-size: 20px;
            
        }

        .imgRecursos {
            width: 80%;
            display: block;
           margin-left: auto;
           margin-right: auto;
           margin-bottom: 15px;
        }
            .h2Recursos {
                font-size: 25px;
            }


            .grid-contenedor {
                
                justify-content: space-between;
            }
      
            
            /* comienza la grilla para la seccion recursos */

            .contenedorHistorias {
                flex-direction: column;
                justify-content: center;
                margin-left: 0px;
                margin-right: 0px;
            }
            aside {
              
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .asideHistorias {
                flex-direction: column;
                justify-content: center;
            }
            .videoHistorias {
                justify-content: center;
                align-items: center;
          
                margin: 10px;
                
            }

            footer  {
                width: 100%;
                padding: 5px;
            }
           
            }
           
    